fieldset {
  width: 310px;
  text-align: right;
}

section {
  border-style: solid;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
}

h2 {
  margin-top: 0;
}

body {
  text-align: center;
}

section p {
  text-align: right;
}

section {
  width: 340px;
  padding: 15px;
}

fieldset input {
  margin: 2px 0;
}

fieldset button {
  margin-top: 2px;
}

fieldset {
  border: none;
}

.flex {
  justify-content: space-between;
}